<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/public/main.css" />
</head>
<body>
    <div class="container">
        <nav>
            <ul class="pager"><li class="previous"><a href="/"><span aria-hidden="true">&larr;</span> Back to homepage</a></li></ul>
        </nav>
        <h1 class="page-title">
            {{title}}
        </h1>


        <div class="row">
            <div class="col-sm-8">
                {{{body}}}
            </div>
        </div>

        <!-- <button id="xxx2">ajax button</button>
        <div id="vvv">empty</div> -->
    </div>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="/public/main.js"></script>

</body>
</html>
